<%= form_for(@user, url: settings_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :other_phone %>
    <%= f.text_field :other_phone %>
  </div>

  <div class="field">
    <%= f.label :other_email %>
    <%= f.text_field :other_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
