<ul>
  <% @songs.each_pair do |index, song| %>
    <% if song %>
      <li>
        <p><%= index %></p>
        <p><%= song.artist %></p>
        <p><%= song.title %></p>
        <p><%= link_to 'Change', edit_song_path(song) %></p>
      </li>
    <% else %>
      <li>
        <p><%= index %></p>
        <p><%= link_to 'Add Song', new_song_path(:order_number => index) %></p>
      </li>
    <% end %>
  <% end %>
<br>

<%= link_to 'New Song', new_song_path, id: 'new_song' %>
