<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Embed</th> -->
      <th>Artist</th>
      <th>Title</th>
      <th>Story</th>
      <th>Publish At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <!-- <td><%= song.embed %></td> -->
        <td><%= song.artist %></td>
        <td><%= song.title %></td>
        <td><%= song.story.slice(0,100) + " ..." %></td>
        <td><%= song.publish_at %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path, id: 'new_song' %>
