<p id="notice"><%= notice %></p>

<p>
  <strong>Embed:</strong>
  <%= @song.embed %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @song.story %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
